target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore contents but keep folders with .gitkeep
/src/test/resources/upload/*
!/src/test/resources/upload/.gitkeep
!/src/test/resources/upload/testUpload-SpiderMan.jpg

/src/test/resources/download/*
!/src/test/resources/download/.gitkeep

/src/test/resources/reports/*
!/src/test/resources/reports/.gitkeep

/src/test/resources/screenshot/*
!/src/test/resources/screenshot/.gitkeep

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store